#change {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;  
}

#container {
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: none;

}

.line1 {

}

.line2 {
}


div {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    flex-grow: 1;
}

.square {
    border: 1px solid black;
    flex-grow: 1;
    box-sizing: border-box;
}